# Python Data Structures

## Python Lists( Mutable )


Definition:-

1.A list is a ordered collection of elements of different datatypes,enclosed within the square brachets and separeted by the cammas

we can access the elements from the list by using the index number
 
 2.List items are indexed and you can access them by referring to the index number:

In [ ]:
x="python"
print(x[::])

In [2]:
x=[1,122,"python",12.0]   # []  # 0  
x

[1, 122, 'python', 12.0]

In [51]:
x=[1,122,122,3,3,7]  #[]   # 0 to n-1
y=x[4]
print(y)
# y={1,2,3,4,2} # { }
# print(y) 
# print(type(y))

3

In [5]:
# Defining the list   # List items are ordered, changeable, and allow duplicate values.
My_list = ["Mathematics",1729,9,10,17.34,9,9,9,9]

# Displaying the list
print(My_list)

# Displaying the datatype of My_list
print(type(My_list))

['Mathematics', 1729, 9, 10, 17.34, 9, 9, 9, 9]
<class 'list'>

### We can us the for loop to display the list elements

In [4]:
for i in range(6): # 0 to n-1
    print(i,end="")

012345

In [8]:
My_list = ["Mathematics",1729,9,10,17.34]

# Displaying the elements using the for loop
for i in My_list:   # 
    print(i)
print(My_list)

Mathematics
1729
9
10
17.34
['Mathematics', 1729, 9, 10, 17.34]

In [11]:
x="python"
print(x)

python

In [21]:
x="python"
for i in x:
    print(i)  # p 
    print(x)  # python
    #         # y
              # python

p
python
y
python
t
python
h
python
o
python
n
python

In [1]:
a="1234567"
for x in a:
    print(x)
    print(a)

1
1234567
2
1234567
3
1234567
4
1234567
5
1234567
6
1234567
7
1234567

In [5]:
c=["python",22,"list"]
for i in c:
    print(i)

python
22
list

In [6]:
x=["python","code","list"]
for j in x:
    print(j)
    print(x)

python
['python', 'code', 'list']
code
['python', 'code', 'list']
list
['python', 'code', 'list']

In [25]:
y=[0,1,2,3,4,5,6,4,5]  # 1 # 0 to n-1
print(len(y))
for num in y:
    print(num)

9
0
1
2
3
4
5
6
4
5

In [14]:
x=["1","2","3"]
print(len(x))
for i in x:
    print(i)

3
1
2
3

### We can access the list elements with indexing

In [34]:
a="python"
print(a[0:3]) # s : st: stp

pyt

In [6]:
My_list = ["Mathematics",1729,9,10,17.34,"welcome","hi","python",True]

# Accessing the elements with index number,By forward direction which is ingeneral defined as (0 to n-1),where n is length of list
print(My_list[0])
print(My_list[1])
#print(My_list[2])
##print(My_list[3])
##print(My_list[4])
#print(My_list[6])
print(My_list[0:4]) # n-1
print(My_list[0:8:2])# 
#print(My_list[1:8:2])

Mathematics
1729
['Mathematics', 1729, 9, 10]
['Mathematics', 9, 17.34, 'hi']

In [35]:
x = ["Mathematics",1729,9,10,17.34,"welcome","hi","python"]  # 1 
print(len(x))

# Accessing the elements with index number,By dackward direction which is ingeneral defined as (-1 to -n),where n is length of list
print(x[-1])
print(x[-2])
print(x[-3])
print(x[-4])
print(x[-5])

8
python
hi
welcome
17.34
10

In [17]:
x="python"
print(x)
print(x[::-1])  #

python
nohtyp

In [8]:
x=[1,2,3,"ewfdyewf",12.6] # 1  
print(len(x))
#x[2]

5

- Slicing with a Stop Value:

When you specify a stop value in slicing (e.g., x[start:stop]), the slice includes elements from the start index up to, but not including, the stop index.
This means the slice will include elements from start up to stop-1.

- Single Index:

When using a single index (e.g., x[index]), it directly retrieves the element at that index position.

### If we try to access the elements from the out of the list length, then it will raise an ERROR

In [39]:
My_list = ["Mathematics",1729,9,10,17.34,12,24,45]  # 5

"""

In the above list we have only 5 elements which are index from the 0 to 4.
If we try to access the element from the index number morethan the 4, it will raise an ERROR 

"""
print("List length is :",len(My_list))

print(My_list[9])
print(My_list[5])

List length is : 8

IndexError: list index out of range

### If a list contain another list then it is know as "NESTED LIST"

In [10]:
x=[1,2,3,4,0,5,6,7,9,11,12,13] # 12
print(len(x))
print(x[4])
y=[1,2,3,4,["a",5,6,7],9,11] #7 
print(len(y))
print(y[4][0])

12
0
7
a

In [52]:
# x=[1,2,3,4,0,5,6,7,9,11] # 10
# #print(len(x))
# print(x[4])


# y=[1,2,3,4,[0,5,6,7],9,11]#7
# #print(len(y))
# print(y[4][2])
# print(y[6])

0
6
11

In [54]:
#Basic Nested List
my_list = [1, 2, [3, 4, 5], 6]
print(my_list)
print(len(my_list))


# Access the nested list
print(my_list[2])

# Access an element within the nested list
print(my_list[2][1])  # Output: 4

[1, 2, [3, 4, 5], 6]
4
[3, 4, 5]
4

In [11]:
x=[1,2,3,[4,5,6],7,9,0,["abc",1,3,5]]
print(len(x))
print(x[7][0])
# x[7]
# y=[1,2,3,4,5,6,7,9,0,1,3,5]
# y[6]
# # x="python"
# # x[0:5]

8
abc

In [85]:
My_list = ["Mathematics",1729,9,10,17.34,[1,2,3,4,"a","Apple",22.21],[1,2,3,4,5,6,7,8,8,9]]
#print(My_list)

# Accesssing the nested list from main list
#print(My_list[6][9])   # here we just extracting the inner list 
print(My_list[5][4])

a

In [17]:
My_list = ["Mathematics",1729,9,10,17.34,[1,2,3,4,"a","Apple",22.21]]
print(My_list[5][1])

2

Now, if we want to extrat the "Apple" from the "My_list"

In [7]:
My_list = ["Mathematics",1729,9,10,17.34,[1,2,3,4,"a","Apple",22.21]]

print(My_list[5][5])

Apple

In [8]:
My_list = ["Mathematics",1729,9,10,17.34,[1,2,3,4,"a","Apple",22.21]]

print(My_list[5][6])

22.21

In [13]:
My_list = ["Mathematics",1729,9,10,17.34,[1,2,3,4,"a","Apple",22.21]]
print(My_list[4])

17.34

In [91]:
My_list = ["Mathematics",1729,9,10,17.34,[1,2,3,4,"a","Apple",22.21]]
print(My_list[5][4])

a

# Allow Duplicates

In [14]:
# Lists allow duplicate values
x= ["apple", "banana", "cherry", "apple", "cherry"]
print(x)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [15]:
y=[1,2,3,4,2,1,4,1,11,1]
print(y)

[1, 2, 3, 4, 2, 1, 4, 1, 11, 1]

# List Length
To determine how many items a list has, use the len() function

In [15]:
x= ["apple", "banana", "cherry", "apple", "cherry"] # 1
print(len(x))

5

In [18]:
x=[1,2,3,4,5,6]
print(len(x))

6

# List Items - Data Types
List items can be of any data type:

In [12]:
x=True
print(type(x))

<class 'bool'>

In [16]:
#String, int and boolean data types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

# Python - Access List Items
List items are indexed and you can access them by referring to the index number

In [13]:
x= ["apple", "banana", "cherry", "apple", "cherry"]
print(x[2])

cherry

In [1]:
x= ["apple", "banana", "cherry", "apple", "cherry"]
print(x[2])

cherry

# Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [15]:
x= ["apple", "banana", "cherry", "apple", "cherry"]
print(x[-2])

apple

# Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [16]:
x= ["apple", "banana", "cherry", "apple", "cherry"]
print(x[0:4])  # n-1

['apple', 'banana', 'cherry', 'apple']

# Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:

In [21]:
x= ["apple", "banana", "cherry", "apple", "cherry"]  # n-1    #x[1:4] n-1
print(x[-4:-1])

['banana', 'cherry', 'apple']

In [27]:
y = [1, 2, 3, 4, 5, 6, 7, 9, 0, 1, 3, 5]
y[-4:-1]  #The slice x[-4:-1] will include elements starting from x[-4] up to, but not including, x[-1].

[0, 1, 3]

# Check if Item Exists
To determine "if" a specified item is present in a list use the "in"  keyword

In [94]:
# Check if "apple" is present in the list
x= ["apple", "banana", "cherry","mango","chandana"]
if "chandana" in x:
  print("Yes, 'mango' is in the fruits list")

Yes, 'mango' is in the fruits list

# Python - Change List Items
To change the value of a specific item, refer to the index number

In [96]:
# Change the second item
x = ["apple", "banana", "cherry"]
x[1] = "chandana"
print(x)

['apple', 'chandana', 'cherry']

In [97]:
y=[11,22,33,44,55,66,88]
y[6]=100
print(y)

[11, 22, 33, 44, 55, 66, 100]

# Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values

In [24]:
x = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
x[1:3] = ["blackcurrant", "watermelon"]
print(x)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [98]:
y=[1,2,3,4,5,6,7,8,9]
y[:]=[12,13,14,15,16,17]
print(y)

[12, 13, 14, 15, 16, 17]

# Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index

In [66]:
x = ["apple", "banana", "cherry"]
x.insert(1, "watermelon")
print(x)

['apple', 'watermelon', 'banana', 'cherry']

In [16]:
x=["a","b","c"]
x.insert(1,"12")
print(x)

['a', '12', 'b', 'c']

In [35]:
x=["a","b","c","d","e"]
x.insert(3,"12")
print(x)  # a b c 12 d e

['a', 'b', 'c', '12', 'd', 'e']

In [37]:
y=[1,2,3,4,5,66]
y.insert(0,100)
print(y)

[100, 1, 2, 3, 4, 5, 66]

# Python - Add List Items

To add an item to the end of the list, use the append() method

In [99]:
t = ["apple", "banana", "cherry"]
t.append("122452")
print(t)

['apple', 'banana', 'cherry', '122452']

In [68]:
x= ["apple", "banana", "cherry", "apple", "cherry"]
print(x[-1:-4])
print(x[-4:-1])

[]
['banana', 'cherry', 'apple']

# Extend List
To append elements from another list to the current list, use the extend() method.

In [40]:
x = ["apple", "banana", "cherry"]
y = ["mango", "pineapple", "papaya"]
y.extend(x)
print(y)

['mango', 'pineapple', 'papaya', 'apple', 'banana', 'cherry']

In [4]:
X = ["apple", "banana", "cherry"]
Y = ["mango", "pineapple", "papaya"]
y.extend(x)
print(y)

['mango', 'pineapple', 'papaya', 'apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

# Add Any Iterable
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [69]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_list.extend(my_tuple)
print(my_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [70]:
my_list = [1, 2, 3]
my_set = {7, 8, 9}
my_list.extend(my_set)
print(my_list)  # Output: [1, 2, 3, 7, 8, 9]

[1, 2, 3, 8, 9, 7]

In [71]:
#When extending with a dictionary, only the dictionary’s keys are added to the list.
my_list = [1, 2, 3]
my_dict = {'a': 10, 'b': 20}
my_list.extend(my_dict)
print(my_list)  # Output: [1, 2, 3, 'a', 'b']

[1, 2, 3, 'a', 'b']

# extend() vs append():

extend() adds each element of the iterable to the list, whereas append() adds the iterable itself as a single element to the list.

In [72]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)

my_list.append(my_tuple)
print(my_list)  # Output: [1, 2, 3, (4, 5, 6)]

my_list = [1, 2, 3]
my_list.extend(my_tuple)
print(my_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, (4, 5, 6)]
[1, 2, 3, 4, 5, 6]

In [42]:
x=(1,2,3,4,4)
print(x)
print(type(x))

(1, 2, 3, 4, 4)
<class 'tuple'>

In [25]:
z=["a","b","c","d"]
y=(1,2,3)
z.extend(y)
print(z)

['a', 'b', 'c', 'd', 1, 2, 3]

In [29]:
x=["a","b","c"]
y={1,2,3}
x.extend(y)
print(x)

['a', 'b', 'c', 1, 2, 3]

# Python - Remove List Items
The remove() method removes the specified item.

In [100]:
x = ["apple", "banana", "cherry"]
x.remove("apple")
print(x)

['banana', 'cherry']

# Remove Specified Index
The pop() method removes the specified index.

In [44]:
x = ["apple", "banana", "cherry"]
x.pop(2)
print(x)

['apple', 'banana']

In [101]:
x = ["apple", "banana", "cherry","326436","33484584495u9"]
x.pop()
print(x)

['apple', 'banana', 'cherry', '326436']

In [31]:
# If you do not specify the index, the pop() method removes the last item
x = ["apple", "banana", "cherry"]
x.pop(0)
print(x)

['banana', 'cherry']

# Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [35]:
x = ["apple", "banana", "cherry"]
x.clear()
print(x)

[]

# List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [1]:
# [expression for item in iterable if condition]

expression: The value to include in the list, often involving the item.
item: The variable representing each element in the iterable.
iterable: A sequence (like a list, tuple, or range) that you loop over.
condition (optional): A filter that determines whether to include the item in the output

In [35]:
2%2==0

True

In [36]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
x=[x for x in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# To create a list of squares for even numbers from 0 to 9:
squares = [x**2 for x in range(10) if x % 2 == 0]  # 0,9
squares

[0, 4, 16, 36, 64]

In [4]:
# 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [5]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "n" in x]

print(newlist)

['banana', 'mango']

In [105]:
t=[" comprehension ","list "]
n=[y for y in t if "l" in y]
print(n)

['list ']

# Python - Sort Lists
## Sort List Alphanumerically
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [7]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort() 
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

# Sort Descending
To sort descending, use the keyword argument reverse = True:

In [38]:
numbers = [34, 12, 67, 8, 99, 23]

# Sorting in ascending order (default behavior)
numbers.sort(reverse=False)  # This is the default behavior, no need to specify reverse=False
print("Ascending:", numbers)  # Output: [8, 12, 23, 34, 67, 99]

# Sorting in descending order
numbers.sort(reverse=True)
print("Descending:", numbers)  # Output: [99, 67, 34, 23, 12, 8]

Ascending: [8, 12, 23, 34, 67, 99]
Descending: [99, 67, 34, 23, 12, 8]

In [8]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = False)
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [108]:
# Sort the list descending:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [109]:
x=[1,2,38,9]
x.sort(reverse = True)
print(x)

[38, 9, 2, 1]

# Python - Join Lists
## Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [41]:
y=[1,2,3,3,3,4,4,5,5,5,6,7,8] # 3
print(y.count(5))
z=y.count(3)
print(z)

3
3

In [110]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

### You can access individual characters from a string using indexing:

In [26]:
x=[1,2,3,4,5,7,8,2,4,6,6,1,3,1,"3"]
Y=x.count(1)
print(Y)
print(x.count(1))
print(x.count("3"))

3
3
1

In [12]:
# Character
x="chandana"
y=x[1]
z=x[2]
print(y)
print(y,z)

h
h a

## count() : Return number of occurrences of value.

In [42]:
L1 = [1,2,3,1,5,2,1,1]
print(L1.count(1))

4

## max()

In [43]:
L1 = [1,2,3,1,5,2,1,1,9]
print(max(L1))

9

## min()

In [44]:
L1 = [1,2,3,1,5,2,11,19]
print(min(L1))

1

# reverse()

In [15]:
L1 = [1,2,3,4,5]
print("Created list is :",L1)
L1.reverse()
print("List after Reverse operation : ",L1)

Created list is : [1, 2, 3, 4, 5]
List after Reverse operation :  [5, 4, 3, 2, 1]

In [14]:
x="string"# 0 
print(x[::-1])
L1 = [1,2,3,4,5]
print(L1[::-1])

gnirts
[5, 4, 3, 2, 1]

In [16]:
#creating a list
list=["a","b","c","d"]
print("1) created list : ",list)

#appending elements in a list
list.append("e")
print("2) list after append operation : ",list)

#accessing item in a list
print("3) accessing items in a list : ",list[1])

#changing item in a list
list[1]="A"
print("4) changing item in the list : ",list)

#removing item in a list
list.remove("a")
print("5) after removing an item : ",list)

#pop()
#remove item in a specified index
print("6) after pop operation ; ",list.pop(3))
print("6.1 ) ",list)

# #loop through a list
# print("7) loop through list:")
# for i in list:
#     print(i)

#sort function
print("8) performing sort on list")
L1=[1,2,3,7,3,9,2,0]
L1.sort()
print(L1)

# #coping a list
# print("9) coping list")
L2=L1.copy()
# print(L2)

# #joining two list
# print("10) joining two list")
# L3=L1+L2
# print(L3)

# #appending one list into the other list
# print("11) appending one list into the other list")
# for i in L2:
#     L1.append(i)
# print(L1)

# extend()
print("12) extend methon")
list.extend(L2)
print(list)
#print(L2)

# #count()
print(list.count("A"))

# #max()
# print(max([1, 2, 2, 3, 3, 7, 9]))

# #min()
# print(min([1, 2, 2, 3, 3, 7, 9]))

# #reverse()
list.reverse()
print(list)

#clear()
# list.clear()
# print(list)

1) created list :  ['a', 'b', 'c', 'd']
2) list after append operation :  ['a', 'b', 'c', 'd', 'e']
3) accessing items in a list :  b
4) changing item in the list :  ['a', 'A', 'c', 'd', 'e']
5) after removing an item :  ['A', 'c', 'd', 'e']
6) after pop operation ;  e
6.1 )  ['A', 'c', 'd']
8) performing sort on list
[0, 1, 2, 2, 3, 3, 7, 9]
12) extend methon
['A', 'c', 'd', 0, 1, 2, 2, 3, 3, 7, 9]
1
[9, 7, 3, 3, 2, 2, 1, 0, 'd', 'c', 'A']